<div class="contactme-info">
  <div class="contactme-logo">
    <img src="assets/svg_contactme/location.svg" class="contactme-svg">
  </div>
  <div class="contactme-sub-info">
    <div class="contactme-sub-info-heading">
      My Address
    </div>
    <div class="contactme-sub-info-info">
      Airoli, Navi Mumbai, Maharashtra 400708
    </div>
  </div>
</div>


<div class="contactme-info">
  <div class="contactme-logo">
    <img src="assets/svg_contactme/socials.svg" class="contactme-svg">
  </div>
  <div class="contactme-sub-info">
    <div class="contactme-sub-info-heading">
      Social Profiles
    </div>
    <div class="contactme-sub-info-info">
      <app-social-links [noMargin]="false"></app-social-links>
    </div>
  </div>
</div>


<div class="contactme-info">
  <div class="contactme-logo">
    <img src="assets/svg_contactme/email.svg" class="contactme-svg">
  </div>
  <div class="contactme-sub-info">
    <div class="contactme-sub-info-heading">
      Email Me
    </div>
    <div class="contactme-sub-info-info">
      chowdhury.agnibha.98@gmail.com
    </div>
  </div>
</div>


<div class="contactme-info">
  <div class="contactme-logo">
    <img src="assets/svg_contactme/phone.svg" class="contactme-svg">
  </div>
  <div class="contactme-sub-info">
    <div class="contactme-sub-info-heading">
      Call Me
    </div>
    <div class="contactme-sub-info-info">
      +91 7003652082
    </div>
  </div>
</div>
