:host{
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

svg{
  width: 100px;
  height: 100px;
  margin: 20px;
  display:inline-block;
}

.download-resume {
  display: inline-block;
  padding: 20px 40px;
  background-color: var(--hover-border);
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.download-resume:hover {
  background-color: #45a049;
  transform: translateY(-5px);
  transition: background-color 0.3s ease, transform 0.2s ease;
}



@media(max-width:1028px) {
  :host{
    flex-grow: unset;
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
  }
  
}