<div [ngStyle]="{ opacity: (!MusicDiv || !songService.music_status) ? '0' : '.95' }" class="music-div-bl music-common"
  cdkDragBoundary=".boundary" cdkDrag [ngClass]="{ 'active-shadow': isDragging }" (cdkDragStarted)="onDragStarted()"
  (cdkDragEnded)="onDragEnded()">
  <!-- [ngStyle]="{ opacity: (!MusicDiv || !songService.music_status) ? '0' : '.95' }" -->
  <div class="audio-visualiser-div">
    <canvas #visualizerCanvas></canvas>
  </div>
  <div class="audio-control-div">
    <img class="next_song" src="assets/next_song.svg" (click)="nextSong()" (click)="stopClickPropagation($event)"
      alt="Img_next_song">
    <mat-slider thumbLabel (input)="logRangeValue($event)" (click)="stopClickPropagation($event)" class="volume-slider"
      min="0" max="100" step="1" [value]="songService.volume"></mat-slider>
    <mat-progress-bar mode="determinate" class="seekto-slider" (click)="stopClickPropagation($event)"
      [value]="songProgress" max="100" (click)="seekToPosition($event)"></mat-progress-bar>
    <div class="timer-div">{{timer}}</div>
    <!-- <button (click)="playSongs()">Stop</button> -->
  </div>

  <img *ngIf='MusicDiv' class="goto-song" src="assets/go_to_song.svg" routerLink="/about" (click)="goToSongs()"
    alt="Img_go_to_song">
  <img class="drag_Handle" src="assets/dragHandle.svg" alt="Drag Handle" cdkDragHandle>
</div>

<router-outlet></router-outlet>