.navbar-main {
  width: 100%;
  height: 70px;
  backdrop-filter: blur(10px); /* This will apply the blur effect to the background */
  background-color: rgba(0, 0, 0, 0.8); /* This will set the background color using */
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 10;
  position: fixed;
}

button {
  position: absolute;
  top: 50%;
}

.navbar-main-common {
  font-family: 'Martian Mono', monospace;
  font-family: 'Oswald', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Quicksand', sans-serif;
  cursor: default;
}


.name {
  color: white;
  margin: 0;
  /* Add this to remove default margin */
  /* animation: decreaseFontSize .5s ease-out 0.5s; */
  transition: .5s;
  font-size: clamp(30px, 2.1vw, 60px);
}

.hamburger {
  display: block;
  width: 30px;
  margin: 10px 20px;
  color: white;
}


@media(max-width:1028px) {
  .navbar-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .name {
    margin-left: 10px;
  }

  /* .phoneDropDown_header{
    top: 130px
  } */
}