<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="common-home socials" #socialsMain [ngClass]="{'no-margin': noMargin}">
  <a href="https://www.facebook.com/agnibha.chowdhury.56/" target="_blank">
    <i #socials class="fa fa-facebook"></i>
  </a>
  <a href="https://www.linkedin.com/in/agnibhachowdhury/" target="_blank">
    <i #socials class="fa fa-linkedin"></i>
  </a>
  <a href="https://www.instagram.com/ronynatsu/" target="_blank">
    <i #socials class="fa fa-instagram"></i>
  </a>
  <a href="https://www.youtube.com/channel/UCEqOhC1R_Ba68tvQrNJba2A" target="_blank">
    <i #socials class="fa fa-youtube"></i>
  </a>
</div>