<app-header></app-header>
<app-link-container>
  <app-container-header>RESUME</app-container-header>
  <app-container-title>CHECK MY RESUME</app-container-title>

  <div class="resume-main">
    <div class="resume-left">
      <app-resume-summary></app-resume-summary>
      <app-resume-education></app-resume-education>
    </div>
    <div class="resume-right">
      <app-resume-pro-experience></app-resume-pro-experience>
      <app-download-resume></app-download-resume>
    </div>
  </div>
</app-link-container>
<app-footer></app-footer>
