<div class="common-home links">

  <button class="links-button" routerLink="" routerLinkActive="current-page current-page1"
    [routerLinkActiveOptions]="{ exact: true }" (click)="clickLink()">Home</button>

  <button class="links-button" routerLink="/about" routerLinkActive="current-page current-page1"
    [routerLinkActiveOptions]="{ exact: true }" (click)="clickLink()">About</button>

  <button class="links-button" routerLink="/resume" routerLinkActive="current-page current-page1"
    [routerLinkActiveOptions]="{ exact: true }" (click)="clickLink()">Resume</button>

  <button class="links-button" routerLink="/portfolio" routerLinkActive="current-page current-page1"
    [routerLinkActiveOptions]="{ exact: true }" (click)="clickLink()">Portfolio</button>

  <button class="links-button" routerLink="/contactme" routerLinkActive="current-page current-page1"
    [routerLinkActiveOptions]="{ exact: true }" (click)="clickLink()">Contact Me</button>
</div>